/*navbar styling*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Century Gothic', sans-serif;
}

html {
    font-size: 100%;
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    padding: 2rem;
    background: var(--background);
    display: flex;
    align-items: center;
    z-index: 100;
    border-bottom: 2px solid var(--accent);
}

.logo {
    font-size: 2.5rem;
    color: var(--text);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.beacon {
    border-radius: 25%;
    background-color: var(--red);
    padding: 5px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.navbar a {
    font-size: 1.7rem;
    font-weight: 500;
    margin-right: 1.7rem;
}

.navbar-dark a {
    color: var(--text);
}

.navbar-dark a:hover {
    text-decoration-color: var(--text);
}

.navbar i {
    font-size: 20px;
}

.navbar .icon-dark-theme{
    content: url('../icons/moon.png');
    height: 20px;
    width: auto;
}
.navlink {
    font-weight: bold;
    text-decoration: none;
    color: var(--text);
    padding: 12px 0px;
    margin: 0px 10px;
    display: block;
    position: relative;
    font-size: 22px;
    opacity: 0.75;
}

.active {
    opacity: 1;
}

.active::before {
    width: 100%;
    bottom: 10px;
}

.navlink:hover {
    opacity: 1;
  }
  
.navlink::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: var(--text);
}

.navlink-ltr::before {
    width: 0%;
    bottom: 10px;
}

.navlink-ltr:hover::before {
    width: 100%;
}

.theme-select {
    position: relative;
    opacity: 0;
}

.label {
	background-color: var(--background);
    padding: 3px;
	border-radius: 50px;
    border: 2px solid var(--accent);
	cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
	align-items: center;
	position: relative;
	height: 25px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: var(--white);
	border-radius: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 21px;
	width: 21px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.theme-select:checked + .label{
    background-color: var(--white);
}

.theme-select:checked + .label .ball {
	transform: translateX(25px);
    transition: transform 0.2s ease;
    background-color: var(--dark-purple);
}

/* New Addition */

#menuToggle
{
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    color: var(--background);
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  right: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--text);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--text);
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

@media (max-width: 737px) {
    #menu {
        margin: -80px 0 0 0px;
        padding: 50px;
        padding-top: 125px;
        position: fixed;
        right: 0;
        width: 100vw;
        height: 110vh;
        transform: translate(100%, 0%);
        background: var(--body);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        overflow: scroll;
    }

    #menu::-webkit-scrollbar {
        display: none;
    }
      
    #menuToggle input:checked ~ ul
    {
        transform: none;
    }
}
  
@media (min-width: 738px) {
    #menu {
        margin: -80px 0 0 0px;
        padding: 50px;
        padding-top: 125px;
        position: fixed;
        right: 0;
        width: 430px;
        height: 110vh;
        transform: translate(100%, 0%);
        background: var(--body);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        overflow: scroll;
    }

    #menu::-webkit-scrollbar {
        display: none;
    }
      
    #menuToggle input:checked ~ ul
    {
        transform: none;
    }
}

.menu-label{
    padding: 12px 0px 0px 0px;
    margin: 0px 10px;
    font-style: italic;
    color: var(--text);
    background-color: var(--body);
}

select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    background: var(--body);
    background-image: none;
    border: 0!important;
    flex: 1;
    padding: 0 0.5em;
    margin: 0.5em 0;
    font-size: 1em;
    color: var(--text);  
    font-weight: 600;
    cursor: pointer;
}
  
select::-ms-expand{
    display: none;
}
  
.menu-select {
    position: relative;
    display: flex;
    width: 100%;
    height: 3em;
    line-height: 3;
    background: transparent;
    overflow: hidden;
    outline: 3px solid;
    outline-color: var(--accent);
    border-radius: .5em;
    margin-top: 0.5em;
    margin-bottom: 1.5em; 
}
  
.menu-select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: var(--accent);
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}
  
.menu-select:hover::after {
    color: var(--white);
}
