{% extends 'layout.html' %}

{% block body %}

<div class="body" onload="load_fctn()">
    {% set active_page = 'nav-testing' %}
    {% include 'includes/_messages.html' %}
    <div class="content">
        <div id="comms-popup" class="overlay">
            <div class="popup">
                <h1 class="popup-title">Comms Status</h1>
                <a id="close-comms" href="#"><i class="icon icon-close"></i></a>
                <div class="popup-message">
                    <h4>The system comms to the chamber are currently</h4> 
                    <h2 id="comms-status" class="status"></h2>
                    <h4 id="status-update">Please click below to toggle this value.</h4>
                </div>
                <div>
                    <button id="toggle-comms" class="comms-btn single-btn">Enable Comms</button>
                </div>
            </div>
        </div>

        <div id="column1" class="column-container half-screen">

            <div class="info-container script-gen">

            </div>
        </div>

        <div id="column2" class="column-container half-screen"></div>

        <a href="#" id="plus-device" class="float-add">
        <div class="add-devices"><h2>+</h2></div>
        </a>

        <div id="device-popup" class="overlay">
            <div class="popup">
                <h1 class="popup-title">Add A Device</h1>

                <a id="close-device-popup" href="#"><i class="icon icon-close"></i></a>

                <h3 id="device-message"></h3>

                <div class="popup-select select">
                    <select name="device-type" id="new-device-type">
                        <option selected disabled value="">Select Module Type</option>
                        <option value="pump-peristaltic">Peristaltic Pump</option>
                        <option value="pump-syringe">Syringe Pump</option>
                        <option value="mixer">Mixer</option>
                        <option value="shutter">Shutter</option>
                        <option value="extract">Extraction</option>
                        <option value="valve">Valve</option>
                    </select>
                </div>

                <div class="input-box">
                    <input id="new-device-id" type="number" inputmode="integer">
                    <span id="device-id">Device ID</span>
                </div>

                <div>
                    <button id="add-device" type="submit" class="device-btn single-btn">Add Device</button>
                </div>
            </div>
        </div>

    </div>

    <div class="console">
        <textarea id="console" readonly></textarea>
    </div>

</div>


<script src="{{url_for('static', filename='js/socket.io.js')}}"></script>
<script>
    jQuery(function() {
        /* Global vars and page startup */
        var socket = io.connect('http://127.0.0.1:5000');
        var comms = false;
        socket.emit('get-comms-status');
        adjustScroll();

        function adjustScroll() {
            if($(window).width() < 1201) {
                $("#column2").removeClass('scrollable');
                $(".content").addClass('scrollable');
            }
            else {
                $("#column2").addClass('scrollable');
                $(".content").removeClass('scrollable');
            }
        }

        $(window).on('resize', function(){
            adjustScroll();
        });
        
        function generateCards(data) {
            for(entry in data){
                type = data[entry][1];
                columnID = "#column2"; /* by default */
                
                switch(type){
                    case 'pump-peristaltic':
                        $(columnID).append(PeristalticPump(data[entry][0], type));
                        break;
                    case 'pump-syringe':
                        $(columnID).append(SyringePump(data[entry][0], type));
                        break;
                    case 'mixer':
                        $(columnID).append(Mixer(data[entry][0], type));
                        break;
                    case 'shutter':
                        $(columnID).append(Shutter(data[entry][0], type));
                        break;
                    case 'extraction':
                        $(columnID).append(Extractor(data[entry][0], type));
                        break;
                    case 'valve':
                        $(columnID).append(Valve(data[entry][0], type));
                        break;
                    case 'server':
                        $("#server-id").val(data[entry][0])
                        break;
                    default:
                        $(columnID).append(Card("0000", "Invalid Module", ""));
                        break;
                }
            }
        }

        /* Socket Functions */
        socket.on('after_connect', function(msg) {
            document.getElementById("console").textContent += ("\nSocket Connection successful");
        });

        socket.on('update_cards', function(msg) {
            $("div.card").remove();
            generateCards(msg.data);
        });

        socket.on('serial_response', function(msg) {
            document.getElementById("console").textContent += ("\nSerial Response >> " + msg.data);
        });

        socket.on('send_comms_status', (data) => {
            success = data;
            if (success){
                comms = !comms;
            }
            document.getElementById("console").textContent += ("\nComms status: " + comms);
        });

        socket.on('set_comms', (data) => {
            success = data;
            if (success){
                comms=true;
                $("#comms-status").text("Enabled");
                $("#comms-status").css("color", "var(--green)");
                $("#toggle-comms").text("Disable Comms");
                $("#connect-beacon").css("background-color", "green");
            }
            else {
                comms=false;
                $("#comms-status").text("Disabled");
                $("#comms-status").css("color", "var(--red)");
                $("#toggle-comms").text("Enable Comms");
                $("#connect-beacon").css("background-color", "red");
            }
            $("#toggle-comms").prop("disabled",false);
        });

        socket.on('log_command', (msg) => {
            data = msg.data;
            cmd = data[0];
            transcript = data[1];
            document.getElementById("console").textContent += ("\nSent to Serial >> "+ cmd);
            document.getElementById("log-text").textContent += (transcript + "\n");
        });

        /* UI interactions */
        $(".content").on("click", ".delete-card", function(){
            parent = $(this).closest("div.card");
            id = parseInt(parent.attr('id').match(/\d+/));
            parent.remove();
            socket.emit('remove-device', id);
        });

        $(".content").on("click", ".apply-action", function(){
            parent = $(this).closest("div.card");
            var result = [];
            result.push("server");
            result.push($("#server-id").val());
            inputs = parent.find('input, select').each(function(){
                result.push($(this).val());
            });
            socket.emit('generate-command', result)
        });

        $("#connect-beacon").click(function(){
            if(comms) {
                $("#comms-status").text("Enabled");
                $("#comms-status").css("color", "var(--green)");
                $("#toggle-comms").text("Disable Comms");
            }
            else {
                $("#comms-status").text("Disabled");
                $("#comms-status").css("color", "var(--red)");
                $("#toggle-comms").text("Enable Comms");
            }
            $("#comms-popup").toggle();
        });

        $("#close-comms").click(function(){
            $("#comms-popup").toggle();
        });

        $("#toggle-comms").click(function(){
            $(this).prop("disabled",true);
            socket.emit('comms-status');
            socket.emit('toggle-comms');
        });

        $("#close-device-popup").click(function(){
            $("#device-popup").toggle();
        });

        $("#plus-device").click(function(){
            $("#device-popup").toggle();
        });

        $("#add-device").click(function(){
            type = $("#new-device-type").find(':selected').val();
            id = parseInt($("#new-device-id").val());
            if((type=='')||id==''){
                $("#device-message").html('Please fill out all fields.');
                return;
            }
            socket.emit('add-device', [id, type]);           
        });

        /* Element generation */
        var Card = function(id, name, content) { 
            return `
            <div id="card-${id}" class="card">
                <h1>${name}</h1>

                <a class="delete-card" href="#"><i class="icon icon-close"></i></a>

                <div class="input-box id-box">
                    <input type="number" inputmode="integer" required="required" value="${id}" readonly>
                    <span id="device-id">Device ID</span>
                </div>

                ${content}
            </div>`;
        };

        var Valve = function(id, type) {
            content = `
            <div class="input-box">
                <span class="select-label">Select an output</span>
                <div class="select">
                    <select name="valve" id="valve">
                        <option selected value="1">Output 1</option>
                        <option value="2">Output 2</option>
                        <option value="3">Output 3</option>
                        <option value="4">Output 4</option>
                        <option value="5">Output 5</option>
                    </select>
                </div>
            </div>
            
            <div class="optns">
                <button class="ui-btn single-btn apply-action">Set Valve</button>
            </div>`;
            return Card(id, type, content);
        };

        var Shutter = function(id, type) {
            content = `
            <div class="input-box">
                <input id="shutter-num" type="number" inputmode="integer" value=1 required="required">
                <span class="input-label">Component number</span>
            </div>

            <div class="input-box">
                <span class="select-label">Select a position</span>
                <div class="select">
                    <select name="shutter" id="shutter">
                        <option selected value="closed">Closed</option>
                        <option value="open">Open</option>
                        <option value="partial">Partial</option>
                    </select>
                </div>
            </div>
            
            <div class="optns">
                <button class="ui-btn single-btn apply-action">Set Shutter</button>
            </div>`;
            return Card(id, type, content);
        }

        var PeristalticPump = function(id, type) {
            content = `
            <div class="input-box">
                <input id="pump-num" type="number" inputmode="integer" value=1 required="required">
                <span class="input-label">Component number</span>
            </div>

            <div class="input-box">
                <input id="pump-vol" type="number" inputmode="decimal" value=0 required="required">
                <span class="input-label">Enter a volume (mL)</span>
            </div>
            
            <div class="optns">
                <button class="ui-btn single-btn apply-action">Start Pump</button>
            </div>`;
            return Card(id, type, content);
        }

        var SyringePump = function(id, type){
            content = `
            <div class="input-box">
                <input id="syringe-num" type="number" inputmode="integer" value=1 required="required">
                <span class="input-label">Component number</span>
            </div>

            <div class="input-box">
                <input id="syringe-vol" type="number" inputmode="decimal" value=5 required="required">
                <span class="input-label">Syringe volume (mL)</span>
            </div>

            <div class="input-box">
                <input id="syringe-length" type="number" inputmode="decimal" value=45 required="required">
                <span class="input-label">Syringe length (mm)</span>
            </div>

            <div class="input-box">
                <input id="pump-vol" type="number" inputmode="decimal" value=0 required="required">
                <span class="input-label">Enter a volume (mL)</span>
            </div>

            <div class="input-box">
                <span class="select-label">Select a direction</span>
                <div class="select">
                    <select name="pump-syringe" id="pump-syringe">
                        <option selected value="fill">Fill</option>
                        <option value="empty">Empty</option>
                    </select>
                </div>
            </div>

            <div class="optns">
                <button class="ui-btn single-btn apply-action">Start Pump</button>
            </div>`;
            return Card(id, type, content);
        }

        var Mixer = function(id, type) {
            content = `
            <div class="input-box">
                <input id="mixer-num" type="number" inputmode="integer" value=1 required="required">
                <span class="input-label">Component number</span>
            </div>

            <div class="input-box">
                <span class="select-label">Select a speed</span>
                <div class="select">
                    <select name="mixer" id="mixer">
                        <option selected value="stop">Stop</option>
                        <option value="slow">Slow</option>
                        <option value="medium">Medium</option>
                        <option value="fast">Fast</option>
                    </select>
                </div>
            </div>

            <div class="optns">
                <button class="ui-btn single-btn apply-action">Set Speed</button>
            </div>`;
            return Card(id, type, content);
        }

        var Extractor = function(id, type) {
            content = `
            <div class="input-box">
                <input id="extraction-vol" type="number" inputmode="integer" value=1 readonly required="required">
                <span class="input-label">Component number</span>
            </div>

            <div class="input-box">
                <span class="select-label">Select a slot</span>
                <div class="select">
                    <select name="extraction" id="extraction">
                        <option selected value="1">Slot 1</option>
                        <option value="2">Slot 2</option>
                        <option value="3">Slot 3</option>
                        <option value="4">Slot 4</option>
                        <option value="5">Slot 5</option>
                    </select>
                </div>
            </div>

            <div class="input-box">
                <input id="pump-vol" type="number" inputmode="decimal" value=0 required="required">
                <span class="input-label">Enter a volume (mL)</span>
            </div>

            <div class="optns">
                <button class="ui-btn single-btn apply-action">Start Extraction</button>
            </div>`;
            return Card(id, type, content);
        }
    });
</script>

{% endblock %}