{% extends 'layout.html' %}

{% block body %}

<div class="body" onload="load_fctn()">
    {% set active_page = 'nav-testing' %}
    {% include 'includes/_messages.html' %}
    <div class="content">
        <div id="comms-popup" class="overlay">
            <div class="popup">
                <h1 class="popup-title">Comms Status</h1>
                <a id="close-comms" href="#"><i class="icon icon-close"></i></a>
                <div class="popup-message">
                    <h4>The system comms to the chamber are currently</h4> 
                    <h2 id="comms-status" class="status"></h2>
                    <h4 id="status-update">Please click below to toggle this value.</h4>
                </div>
                <div>
                    <button id="toggle-comms" class="comms-btn single-btn">Enable Comms</button>
                </div>
            </div>
        </div>

        <div id="msg-popup" class="overlay">
            <div class="popup">
                <h1 id="msg-type" class="popup-title"></h1>
                <a id="close-msg" href="#"><i class="icon icon-close"></i></a>
                <div class="popup-message"></div>
                <div class="popup-ops">
                    <button id="reject-op" class="ui-btn single-btn">Reject</button>
                    <button id="approve-op" class="ui-btn single-btn">Accept</button>
                </div>
            </div>
        </div>

        <div id="file-popup" class="overlay">
            <div class="popup">
                <h1 class="popup-title">Upload File</h1>
                <a id="close-file" href="#"><i class="icon icon-close"></i></a>
                <div id="dropbox">
                    <p id="dropbox-text">Drag file here or click to <b>Upload File</b></p>
                    <input id="file-input" type="file" name="file" accept=".txt" style="display:none;"/>
                </div>
                <div class="popup-ops">
                    <button id="clear-file" class="ui-btn single-btn">Clear File</button>
                    <button id="upload-file" class="ui-btn single-btn">Upload File</button>
                </div>
            </div>
        </div>

        <div id="column1" class="column-container half-screen">
            <div class="script-gen">
                <div>
                    <h1>Command List</h1>
                    <div id="script-ops">
                        <div>
                            <button id="verify-script" class="ui-btn script-btn">Verify</button>
                        </div>
                        <div>
                            <button id="upload-script" class="ui-btn script-btn">Upload Script</button>
                        </div>
                        <div>
                            <button id="add-wait" class="ui-btn script-btn">Add Global Wait</button>
                        </div>
                        <div>
                            <button id="execute-script" class="ui-btn script-btn">Execute Script</button>
                        </div>
                    </div>
                </div>
                
                <div id="cmd-list"></div>
            </div>
        </div>

        <div id="column2" class="column-container half-screen"></div>

        <a href="#" id="plus-device" class="float-add">
        <div class="add-devices"><h2>+</h2></div>
        </a>

        <div id="device-popup" class="overlay">
            <div class="popup">
                <h1 class="popup-title">Add A Device</h1>

                <a id="close-device-popup" href="#"><i class="icon icon-close"></i></a>

                <h3 id="device-message"></h3>

                <div class="popup-select select">
                    <select name="device-type" id="new-device-type">
                        <option selected disabled value="">Select Module Type</option>
                        <option value="pump-peristaltic">Peristaltic Pump</option>
                        <option value="pump-syringe">Syringe Pump</option>
                        <option value="mixer">Mixer</option>
                        <option value="shutter">Shutter</option>
                        <option value="extract">Extraction</option>
                        <option value="valve">Valve</option>
                    </select>
                </div>

                <div class="input-box">
                    <input id="new-device-id" type="number" inputmode="integer">
                    <span id="device-id">Device ID</span>
                </div>

                <div>
                    <button id="add-device" type="submit" class="device-btn single-btn">Add Device</button>
                </div>
            </div>
        </div>

    </div>

    <div class="console">
        <textarea id="console" readonly></textarea>
    </div>

</div>


<script src="{{url_for('static', filename='js/socket.io.js')}}"></script>
<script>
    jQuery(function() {
        /* Global vars and page startup */
        var socket = io.connect('http://127.0.0.1:5000');
        var comms = false;
        var file = '';
        socket.emit('get-comms-status');
        adjustScroll();

        $(window).on('resize', function(){
            adjustScroll();
        });

        function adjustScroll() {
            if($(window).width() < 1201) {
                $("#column2").removeClass('scrollable');
                $(".content").addClass('scrollable');
            }
            else {
                $("#column2").addClass('scrollable');
                $(".content").removeClass('scrollable');
            }
        }
        
        function generateCards(data) {
            for(entry in data){
                type = data[entry][1];
                columnID = "#column2"; /* by default */
                
                switch(type){
                    case 'pump-peristaltic':
                        $(columnID).append(PeristalticPump(data[entry][0], type));
                        break;
                    case 'pump-syringe':
                        $(columnID).append(SyringePump(data[entry][0], type));
                        break;
                    case 'mixer':
                        $(columnID).append(Mixer(data[entry][0], type));
                        break;
                    case 'shutter':
                        $(columnID).append(Shutter(data[entry][0], type));
                        break;
                    case 'extraction':
                        $(columnID).append(Extractor(data[entry][0], type));
                        break;
                    case 'valve':
                        $(columnID).append(Valve(data[entry][0], type));
                        break;
                    case 'server':
                        $("#server-id").val(data[entry][0])
                        break;
                    default:
                        $(columnID).append(Card("0000", "Invalid Module", ""));
                        break;
                }
            }
        }

        function generateCmdList(data) {
            order = 1;
            for(entry in data){
                cmd = data[entry][0][0]
                if(cmd.indexOf("Wait") >= 0){
                    holdType = "global";
                }
                else{
                    holdType = "cmd";
                }
                $("#cmd-list").append(Cmd(order, data[entry][0][1], holdType));
                $("#hold-"+order).val(parseInt(data[entry][1]));
                order++;
            }
            $("#verify-script").css("background-color", "var(--accent)");
            $("#execute-script").attr("disabled", "disabled");
        }

        /* Socket Functions */
        socket.on('update_cards', function(msg) {
            $("div.card").remove();
            generateCards(msg.data);
        });

        socket.on('serial_response', function(msg) {
            document.getElementById("console").textContent += ("\nSerial Response >> " + msg.data);
            $('#console').scrollTop($('#console').get(0).scrollHeight);
        });

        socket.on('system_msg', function(msg) {
            document.getElementById("console").textContent += ("\nSystem Message >> " + msg.data);
            $('#console').scrollTop($('#console').get(0).scrollHeight);
        });

        socket.on('send_comms_status', (data) => {
            success = data;
            if (success){
                comms = !comms;
            }
            document.getElementById("console").textContent += ("\nComms status: " + comms);
        });

        socket.on('set_comms', (data) => {
            success = data;
            if (success){
                comms=true;
                $("#comms-status").text("Enabled");
                $("#comms-status").css("color", "var(--green)");
                $("#toggle-comms").text("Disable Comms");
                $("#connect-beacon").css("background-color", "var(--green)");
            }
            else {
                comms=false;
                $("#comms-status").text("Disabled");
                $("#comms-status").css("color", "var(--red)");
                $("#toggle-comms").text("Enable Comms");
                $("#connect-beacon").css("background-color", "var(--red)");
            }
            $("#toggle-comms").prop("disabled",false);
        });

        socket.on('log_command', (msg) => {
            data = msg.data;
            cmd = data[0];
            transcript = data[1];
            document.getElementById("console").textContent += ("\nSent to Serial >> "+ cmd);
            $('#console').scrollTop($('#console').get(0).scrollHeight);
            document.getElementById("log-text").textContent += (transcript + "\n");
        });

        socket.on('update_cmd_list', function(msg) {
            $("div.cmd-entry").remove();
            generateCmdList(msg.data);
        });

        socket.on('handle_verify', function(msg) {
            data = msg.data;
            success = data[0];
            msg = data[1];
            document.getElementById("console").textContent += ("\nScript verified: "+ success + "\nMsg: " + msg);
            $("#msg-popup").toggle();
            if(success == false){
                $("#verify-script").css("background-color", "var(--red)");
            }
            else{
                $("#verify-script").css("background-color", "var(--green)");
                $("#execute-script").removeAttr("disabled");
            }
        });

        socket.on('send_script', function(msg){
            filename = msg.data;
            document.location.href = filename;
        });

        socket.on('complete_execute', function(msg){
            success = msg.data;
            if(success){
                $("#verify-script").css("background-color", "var(--green)");
                $("#execute-script").removeAttr("disabled");
            }
            else{
                $("#verify-script").css("background-color", "var(--red)");
                $("#execute-script").attr("disabled", "disabled");
            }
        });

        /* UI interactions */
        $(document).on('dragenter dragover drop', function (e){
            e.stopPropagation();
            e.preventDefault();
        });

        $(".content").on("click", ".delete-card", function(){
            parent = $(this).closest("div.card");
            id = parseInt(parent.attr('id').match(/\d+/));
            parent.remove();
            socket.emit('remove-device', id);
        });

        $(".content").on("click", ".apply-action", function(){
            action = $(this).val();
            parent = $(this).closest("div.card");
            var result = [];
            result.push("server");
            result.push($("#server-id").val());
            inputs = parent.find('input, select').each(function(){
                result.push($(this).val());
            });
            socket.emit('add-cmd-list', [action,result,'None'])
        });

        $(".content").on("click", ".remove-cmd", function(){
            parent = $(this).closest("div.cmd-entry");
            stringID = parent.find(".cmd-number").text();
            number = parseInt(stringID.match(/\d+/));
            parent.remove();
            socket.emit('remove-cmd-number', number);
        });

        $(".content").on("input", ".hold-for", function(){
            $("#verify-script").css("background-color", "var(--accent)");
            $("#execute-script").attr("disabled", "disabled");
            parent = $(this).closest("div.cmd-entry");
            stringID = parent.find(".cmd-number").text();
            number = parseInt(stringID.match(/\d+/));
            newHold = $(this).val();
            socket.emit('update-hold', [number, newHold]);
        });

        $("#add-wait").on("click", function(){
            socket.emit('add-cmd-list', ["wait", 0])
        });

        $("#verify-script").on("click", function(){
            $("#msg-popup").toggle();
            $("#msg-type").text("Verify Script");
            $("#popup-text").css("border", "none");
            $(".popup-message").html(`<h3 id="popup-text">Your script is about to be verified.<br/><br/>Would you like to download the script after success?</h3>`)
        });

        $("#upload-script").on("click", function(){
            $("#file-popup").toggle();
        });

        $("#execute-script").on("click", function(){
            socket.emit('execute-script');
            $("#execute-script").attr("disabled", "disabled");
        });

        $("#dropbox").on("dragenter dragover", function(e){
            e.stopPropagation();
            e.preventDefault();
            $("#dropbox").css("background-color",  "rgb(from var(--accent) r g b / 40%)");
        });

        $("#dropbox").on("dragleave", function(e){
            e.stopPropagation();
            e.preventDefault();
            $("#dropbox").css("background-color",  "rgb(from var(--accent) r g b / 20%)");
        });

        $("#dropbox").on("drop", function(e){
            e.stopPropagation();
            e.preventDefault();
            $("#dropbox").css("background-color",  "rgb(from var(--accent) r g b / 20%)");
            file = e.originalEvent.dataTransfer.files[0];
            $("#dropbox-text").text(file.name);
        });

        $("#dropbox").on("click", function(e){
            document.getElementById("file-input").click();
        });

        $("#clear-file").on("click", function(){
            file = '';
            $("#dropbox-text").html("Drag file here or click to <b>Upload File</b>");
        });

        $("#upload-file").on("click", function(){
            $("#dropbox-text").html("Drag file here or click to <b>Upload File</b>");
            if(file != ''){
                socket.emit('upload-file', [file.name, file])
            }
            $("#file-input").val('');
            $("#file-popup").toggle();
        });

        $("#file-input").on("change", function(){
            file = $("#file-input").prop('files')[0];
            $("#dropbox-text").text(file.name);
        });

        $("#connect-beacon").on("click", function(){
            if(comms) {
                $("#comms-status").text("Enabled");
                $("#comms-status").css("color", "var(--green)");
                $("#toggle-comms").text("Disable Comms");
            }
            else {
                $("#comms-status").text("Disabled");
                $("#comms-status").css("color", "var(--red)");
                $("#toggle-comms").text("Enable Comms");
            }
            $("#comms-popup").toggle();
        });

        $("#close-comms").on("click", function(){
            $("#comms-popup").toggle();
        });

        $("#close-msg").on("click", function(){
            $("#msg-popup").toggle();
        });

        $("#close-file").on("click", function(){
            $("#file-popup").toggle();
        });

        $("#approve-op").on("click", function(){
            type = $("#msg-type").text();
            result = new Array();
            if(type.includes('Verify Script')){
                socket.emit('verify-script',true);
            }
        });

        $("#reject-op").on("click", function(){
            type = $("#msg-type").text();
            result = new Array();
            if(type.includes('Verify Script')){
                socket.emit('verify-script',false);
            }
        });

        $("#toggle-comms").on("click", function(){
            $(this).prop("disabled",true);
            socket.emit('comms-status');
            socket.emit('toggle-comms');
        });

        $("#close-device-popup").on("click", function(){
            $("#device-popup").toggle();
        });

        $("#plus-device").on("click", function(){
            $("#device-popup").toggle();
        });

        $("#add-device").on("click", function(){
            type = $("#new-device-type").find(':selected').val();
            id = parseInt($("#new-device-id").val());
            if((type=='')||id==''){
                $("#device-message").html('Please fill out all fields.');
                return;
            }
            socket.emit('add-device', [id, type]);           
        });

        $(".content").on("change", "#valve", function(){
            if($("#valve").val() == "custom"){
                $("#valve-code").removeClass('disabled');
            }
            else{
                $("#valve-code").addClass('disabled');
            }
        });

        /* Element generation */
        var Card = function(id, name, content) { 
            return `
            <div id="card-${id}" class="card">
                <h1>${name}</h1>

                <a class="delete-card" href="#"><i class="icon icon-close"></i></a>

                <div class="input-box id-box">
                    <input type="number" inputmode="integer" required="required" value="${id}" readonly>
                    <span id="device-id">Device ID</span>
                </div>

                ${content}
            </div>`;
        };

        var Valve = function(id, type) {
            content = `
            <div class="input-box">
                <span class="select-label">Select an output</span>
                <div class="select">
                    <select name="valve" id="valve">
                        <option selected value="1">Output 1</option>
                        <option value="2">Output 2</option>
                        <option value="3">Output 3</option>
                        <option value="4">Output 4</option>
                        <option value="5">Output 5</option>
                        <option value="custom">Custom</option>
                    </select>
                </div>
            </div>

            <div id="valve-code" class="input-box disabled">
                <input id="valve-seq" type="number" inputmode="integer" value=00000 required="required">
                <span class="input-label">Enter a 5-digit code</span>
            </div>
            
            <div class="optns">
                <button class="ui-btn single-btn apply-action" value="set">Set Valve</button>
            </div>`;
            return Card(id, type, content);
        };

        var Shutter = function(id, type) {
            content = `
            <div class="input-box">
                <span class="select-label">Select a position</span>
                <div class="select">
                    <select name="shutter" id="shutter">
                        <option selected value="closed">Closed</option>
                        <option value="open">Open</option>
                        <option value="partial">Partial</option>
                    </select>
                </div>
            </div>
            
            <div class="optns">
                <button class="ui-btn single-btn apply-action" value="set">Set Shutter</button>
            </div>`;
            return Card(id, type, content);
        }

        var PeristalticPump = function(id, type) {
            content = `
            <div class="input-box">
                <input id="pump-vol" type="number" inputmode="decimal" value=0 required="required">
                <span class="input-label">Enter a volume (mL)</span>
            </div>
            
            <div class="optns">
                <button class="ui-btn single-btn apply-action" value="pump">Start Pump</button>
            </div>`;
            return Card(id, type, content);
        }

        var SyringePump = function(id, type){
            content = `
            <div class="input-box">
                <span class="select-label">Select a syringe type</span>
                <div class="select">
                    <select name="pump-syringe" id="pump-syringe">
                        <option selected value="1">10mL Eccentric</option>
                        <option value="2">5mL Concentric</option>
                        <option value="3">2mL Concentric</option>
                    </select>
                </div>
            </div>

            <div class="input-box">
                <input id="pump-vol" type="number" inputmode="decimal" value=0 required="required">
                <span class="input-label">Enter a volume (mL)</span>
            </div>

            <div class="optns">
                <button class="ui-btn single-btn apply-action" value="pump">Start Pump</button>
            </div>`;
            return Card(id, type, content);
        }

        var Mixer = function(id, type) {
            content = `
            <div class="input-box">
                <span class="select-label">Select a speed</span>
                <div class="select">
                    <select name="mixer" id="mixer">
                        <option selected value="stop">Stop</option>
                        <option value="slow">Slow</option>
                        <option value="medium">Medium</option>
                        <option value="fast">Fast</option>
                    </select>
                </div>
            </div>

            <div class="input-box">
                <span class="select-label">Select a direction</span>
                <div class="select">
                    <select name="mixer" id="mixer">
                        <option selected value="1">Clockwise</option>
                        <option value="2">Counter-clockwise</option>
                    </select>
                </div>
            </div>

            <div class="optns">
                <button class="ui-btn single-btn apply-action" value="set">Set Speed</button>
            </div>`;
            return Card(id, type, content);
        }

        var Extractor = function(id, type) {
            content = `
            <div class="input-box">
                <span class="select-label">Select a slot</span>
                <div class="select">
                    <select name="extraction" id="extraction">
                        <option selected value="1">Slot 1</option>
                        <option value="2">Slot 2</option>
                        <option value="3">Slot 3</option>
                        <option value="4">Slot 4</option>
                        <option value="5">Slot 5</option>
                    </select>
                </div>
            </div>

            <div class="optns">
                <button class="ui-btn single-btn apply-action" value="set">Set Extraction Slot</button>
            </div>

            <div class="input-box">
                <input id="pump-vol" type="number" inputmode="decimal" value=0 required="required">
                <span class="input-label">Enter a volume (mL)</span>
            </div>

            <div class="optns">
                <button class="ui-btn single-btn apply-action" value="pump">Start Extraction</button>
            </div>`;
            return Card(id, type, content);
        }

        var Cmd = function(number, transcript, holdType) {
            if(holdType == "cmd"){
                labelText = "Wait for step: ";
            }
            else if(holdType == "global"){
                labelText = "Wait time (s): ";
            }
            else {
                labelText = "Unrecognized hold command - ";
            }
            content = `
            <div class="cmd-entry">
                <div class="cmd-data">
                    <div class="entry-info">
                        <div class="cmd-number">[${number}]</div>
                        <div class="cmd-text"> ${transcript} </div>
                    </div>
                    <div class="cmd-hold">
                        <label>${labelText}</label>
                        <span><input id="hold-${number}" class="hold-for" type="number" inputmode="integer"/></span>
                    </div>
                </div>
                <div class="cmd-remove">
                    <button class="remove-cmd">Remove</button>
                </div>
            </div>`;
            return content;
        }
    });
</script>

{% endblock %}