{% extends 'layout.html' %}

{% block body %}

<div class="body" onload="load_fctn()">
    {% set active_page = 'nav-profile' %}
    <div class="content">
        <div id="comms-popup" class="overlay">
            <div class="popup">
                <h1 class="popup-title">Comms Status</h1>
                <a id="close-comms" href="#"><i class="icon icon-close"></i></a>
                <div class="popup-message">
                    <h4>The system comms to the chamber are currently</h4> 
                    <h2 id="comms-status" class="status"></h2>
                    <h4 id="status-update">Please click below to toggle this value.</h4>
                </div>
                <div>
                    <button id="toggle-comms" class="comms-btn single-btn">Enable Comms</button>
                </div>
            </div>
        </div>

        <div class="profile">
            <div class="card">
                <h1>Profile Information</h1>

                {% include 'includes/_messages.html' %}

                <form class="profile-form" method="POST" action="">
                    <div class="input-box">
                        <input id="username" type="text" name="username" inputmode="text" required="required" readonly>
                        <span id="username-span">Username</span>
                    </div>

                    <div class="input-box">
                        <input id="new-username" type="text" inputmode="text">
                        <span>New Username</span>
                    </div>

                    <div class="optns">
                        <button id="update-user" class="ui-btn single-btn">Update Username</button>
                    </div>
                
                    <div class="input-box">
                        <input id="old-pass" type="password" name="oldPassword" inputmode="text">
                        <span>Old Password</span>
                    </div>
    
                    <div class="input-box">
                        <input id="new-pass" type="password" name="newPassword" inputmode="text">
                        <span>New Password</span>
                    </div>
                    
                    <div class="input-box">
                        <input id="confirm-pass" type="password" name="confPassword" inputmode="text">
                        <span>Confirm Password</span>
                    </div>
    
                    <div class="optns">
                        <button id="update-pass" type="submit" class="ui-btn single-btn">Update Password</button>
                    </div>
                </form>
                
                <div class="optns">
                    <button id="log-off" class="ui-btn single-btn">Log Off</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{url_for('static', filename='js/socket.io.js')}}"></script>
<script>
jQuery(function() {
    var socket = io.connect('http://127.0.0.1:5000');
    var comms = false;
    socket.emit('get-comms-status');
    socket.emit('get-user');

    socket.on('set_comms', (data) => {
        success = data;
        if (success){
            comms=true;
            $("#comms-status").text("Enabled");
            $("#comms-status").css("color", "var(--green)");
            $("#toggle-comms").text("Disable Comms");
            $("#connect-beacon").css("background-color", "var(--green)");
        }
        else {
            comms=false;
            $("#comms-status").text("Disabled");
            $("#comms-status").css("color", "var(--red)");
            $("#toggle-comms").text("Enable Comms");
            $("#connect-beacon").css("background-color", "var(--red)");
        }
        $("#toggle-comms").prop("disabled",false);
    });

    socket.on('set_user', function(msg) {
        username = msg.data;
        $("#username").val(username);
        $("#new-username").val('');
    });

    $("#connect-beacon").click(function(){
        if(comms) {
            $("#comms-status").text("Enabled");
            $("#comms-status").css("color", "var(--green)");
            $("#toggle-comms").text("Disable Comms");
        }
        else {
            $("#comms-status").text("Disabled");
            $("#comms-status").css("color", "var(--red)");
            $("#toggle-comms").text("Enable Comms");
        }
        $("#comms-popup").toggle();
    });

    $("#close-comms").click(function(){
        $("#comms-popup").toggle();
    });

    $("#toggle-comms").click(function(){
        $(this).prop("disabled",true);
        socket.emit('comms-status');
        socket.emit('toggle-comms');
    });

    $("#update-user").click(function(){
        oldUsername = $("#username").val();
        newUsername = $("#new-username").val();
        socket.emit('update-username', [oldUsername, newUsername]);
    });

    $("#log-off").click(function(){
        username = $("#username").val();
        socket.emit('log-off', username);
        location.href = "/login";
    });
});
</script>

{% endblock %}