
<header class="header">
    <button class="beacon" id="connect-beacon"></button>
    <a href="#" class="logo">Arcadius.</a>

    <nav>
        <div id="menuToggle">
            <!--
            A fake / hidden checkbox is used as click reciever,
            so you can use the :checked selector on it.
            -->
            <input type="checkbox" />
            
            <!--
            Some spans to act as a hamburger.
            
            They are acting like a real hamburger,
            not that McDonalds stuff.
            -->
            <span></span>
            <span></span>
            <span></span>
            
            <!--
            Too bad the menu has to be inside of the button
            but hey, it's pure CSS magic.
            -->
            <ul id="menu">
                <a class="navlink {% if '/home' in request.path%} active {% else %} navlink-ltr {% endif %}" href="/home">Home</a>
                <a class="navlink {% if '/auto' in request.path%} active {% else %} navlink-ltr {% endif %}" href="/auto">Auto</a>
                <a class="navlink {% if '/manual' in request.path%} active {% else %} navlink-ltr {% endif %}" href="/manual">Manual</a>
                <a class="navlink {% if '/testing' in request.path%} active {% else %} navlink-ltr {% endif %}" href="/testing">Testing</a>
                <a class="navlink {% if '/monitor' in request.path%} active {% else %} navlink-ltr {% endif %}" href="/monitor">Monitor</a>
                <a class="navlink {% if '/profile' in request.path%} active {% else %} navlink-ltr {% endif %}" href="/profile">Profile</a>
                
                <div>
                    <h4 class="menu-label">Select a Theme</h4>
                    <div class="menu-select">
                        <select name="theme" id="theme">
                            <option value="theme1">Pure Light</option>
                            <option value="theme2">Pure Dark</option>
                            <option value="theme3">Azure</option>
                            <option value="theme4">Mulberry</option>
                            <option value="theme5">High Contrast Light</option>
                            <option value="theme6">High Contrast Dark</option>
                        </select>
                    </div>
                </div>

                <div>
                    <h4 class="menu-label">Set Server ID</h4>
                    <div class="server-box">
                        <input id="server-id" type="number" inputmode="integer" required="required">
                    </div>
                    <button id="update-server">Update Server ID</button>
                </div>
            </ul>
        </div>
    </nav>

    <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{url_for('static', filename='js/nav.js')}}"></script>
</header>
